.about-body .about-banner, .courses-banner, .contact-banner{
    height: 400px;
    display: flex;
    align-items: center;
}

.page-heading{
    font-size: 3em;
    font-weight: 700;
    text-transform: capitalize;
}

.page-sub{
    text-transform: capitalize;
    width: 50%;
}