.contact-body p{
    padding: 0;
}

.contact-body .icon i{
    font-size: 60px;
}

.contact-body .icon{
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid black;
    border-radius: 50%;
    height: 100px;
    width: 100px;
    margin-bottom: 25px;
}

.icon-box{
    display: flex;
    justify-content: center;
}

.contact-bg{
    width: 100%;
}

.form h1{
    font-size: 3em;
    text-transform: capitalize;
    font-weight: 700;
    padding-bottom: 45px;
}