.navbar-brand {
    font-size: 45px;
    font-weight: 900;
}

.menu {
    justify-content: space-around;
}

span {
    color: #24a88e;
    font-size: 55px;
}

ul li a {
    font-size: 22px;
    text-decoration: none;
    color: black;
    font-weight: 600;
}

ul li a:hover {
    color: #24a88e;
}

.login-btn {
    background-color: #8710d8;
    color: white;
}

.signup-btn {
    color: white;
    background-color: #24a88e;
}

p {
    margin: 0;
}

.phone {
    align-items: center;
}

.phone i {
    font-size: 55px;
    color: #24a88e;
}

.phone h3 {
    font-weight: 600;
}
